<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body style='background-color: rgb(225, 235, 238);'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,119,0.5102415966386555) 0%, rgba(0,212,255,1) 100%);">
                <h1 class="text-center" style="font-size: 60px; color: white;">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            
                {{ team }}
            
        </div>
    </div>
</body>

</html>